@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* --- CORES PADRÃO --- */
:root {
    --Azulsuave: #6FA8DC;
    --VerdeClaro: #A8E6CF;
    --AmareloPastel: #FFF3B0;
    --LilasSuave: #CBAACB;
    --CinzaClaro: #F5F5F5;
    --Azulescuro: #2E4A62;
    --Preto: #000000;
    --Verdeescuro: #0AF79F;
    --Azul: #1976CB;
    --Branco: #ffffff;

}

body {
    background-color: var(--CinzaClaro);
    color: var(--Preto);
}


main {
    width: 100%;
    display: flex;
    justify-content: center;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* navegação das páginas */
nav p {
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 20px;
}

/*familia*/
.banner-img2 {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteudo {
    width: 100%;
    max-width: 1100px;
    padding: 20px;
    font: size 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px auto;
}


@media (max-width: 768px) {

    .conteudo {
        padding: 15px;
        font-size: 0.95rem;
    }


    nav p {
        font-size: 12px;
        padding: 0 15px;
    }

    .banner-img2 img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 30px;
        max-width: 600px;
        /* controla o “miolo” do site */
    }
}


@media (min-width: 1200px) {

    .conteudo {
        max-width: 1200px;
        font-size: 16px;
    }


    .banner-img2 img {
        /*max-height: 450px;*/
        height: auto;
        object-fit: cover;
        max-width: 900px;
        /* controla o “miolo” do site */
    }
}

/* navegação das páginas */
nav p {
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 20px;
}