@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --Azulsuave: #6FA8DC;
    --VerdeClaro: #A8E6CF;
    --AmareloPastel: #FFF3B0;
    --LilasSuave: #CBAACB;
    --CinzaClaro: #F5F5F5;
    --Azulescuro: #2E4A62;
    --Preto: #000000;
    --Verdeescuro: #0AF79F;
    --Azul: #1976CB;
    --Branco: #ffffff;
}

body {
    background-color: var(--CinzaClaro);
    color: var(--Preto);
}

.sobrenos01 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
}

.img-text {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.img-text img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-text h1 {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    text-align: center;
    font-size: 15px;
    height: auto;
    width: 100%;
    padding: 15px;
}

.title-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px 50px 20px;
    gap: 20px;

    h2 {
        font-size: 20px;
        font-weight: normal;
    }

    p {
        font-size: 13px;
    }
}

.sobrenos02 {
    background: linear-gradient(180deg,
            color-mix(in srgb, var(--VerdeClaro) 25%, var(--CinzaClaro)),
            color-mix(in srgb, var(--Azulsuave) 25%, var(--CinzaClaro)));
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: auto;
    padding: 10px;
    box-shadow: 2px 6px 6px 6px var(--Azulsuave);
    border-radius: 20px;
}

.visao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    gap: 15px;
    width: 100%;
    height: auto;

}

.visao img {
    width: 30%;
    height: auto;
}

.visao h3 {
    font-size: 15px;
}

.visao p {
    /* text-align: center; */
    font-size: 10px;
}

.sobrenos03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    gap: 20px;
}

.titulo-texto {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h2 {
        font-size: 16px;
        color: var(--Azulsuave);
    }

    h3 {
        font-size: 14px;
    }

    p {
        font-size: 13px;
    }
}

.fotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 20px 0 0 50px;
}

.foto1 {
    height: auto;
    width: 100%;
    border-radius: 25px 10px;
}

.foto2 {
    height: auto;
    width: 50%;
    border-radius: 10px 25px 10px 10px;
}

.foto3 {
    height: auto;
    width: 100%;
    border-radius: 10px 10px 10px 25px;
    margin-left: 50px;
}

.sobrenos04 {
    inset: 0;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    height: auto;
    width: 100%;
    box-shadow: 2px var(--Azulsuave);
}

.sobrenos04 h2 {
    color: var(--Preto);
    font-size: 25px;
    margin-bottom: 2px;
    font-weight: normal;
}

.contato-caixa {
    position: relative;
    background-color: var(--Branco);
    width: 100%;
    max-width: 100%;
    padding: 30px;
    border-radius: 16px;
    border: 2px solid var(--Azulsuave);
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contato input {
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    border: 1.8px solid var(--Azulsuave);
    font-size: 13px;
}

.contato textarea {
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    border: 1.8px solid var(--Azulsuave);
    font-size: 13px;

}

.contato textarea {
    min-height: 90px;
    resize: none;
}

.linha {
    display: flex;
    gap: 8px;
}

.linha input {
    flex: 1;
}

.contato button {
    align-self: center;
    padding: 8px 20px;
    border-radius: 18px;
    background-color: var(--VerdeClaro);
    font-size: 13px;
    cursor: pointer;
}

.contato button:hover {
    background-color: var(--Verdeescuro);
}

@media (min-width: 650px) {

    .img-text h1 {
        font-size: 18px;
        padding: 25px;
        width: 50%;
        height: 70%;
    }

    .title-text {
    padding: 0 30px 60px 30px;
    gap: 25px;

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 15px;
    }
}

.sobrenos02 {
    gap: 20px;
}
    .visao {
    gap: 20px;
}

.visao h3 {
    font-size: 18px;
}

.visao p {
    font-size: 15px;
}

.sobrenos03 {
    padding: 25px 20px;
    gap: 25px;
}

.titulo-texto {
    gap: 20px;

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }
}

.sobrenos04 {
    padding: 50px;
}

.sobrenos04 h2 {
    font-size: 30px;
}

.contato-caixa {
    width: 60%;
}

.contato input {
    font-size: 15px;
}

.contato textarea {
    font-size: 15px;

}

.contato button {
    font-size: 15px;
}

}

@media (min-width: 999px) {
    .img-text h1 {
        font-size: 20px;
    }

    .title-text {
    h2 {
        font-size: 26px;
    }

    p {
        font-size: 18px;
    }
}

.sobrenos02 {
    gap: 30px;
    padding: 25px 50px;
}

.visao h3 {
    font-size: 20px;
}

.visao p {
    font-size: 18px;
}

.sobrenos03 {
    padding: 50px 0 50px 50px;
    gap: 20px;
    flex-direction: row;
}

.titulo-texto {
    width: 80%;
    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }
}

.fotos {
    padding: 0;
    gap: 30px;
}

.sobrenos04 h2 {
    font-size: 35px;
}

.contato-caixa {
    width: 60%;
}

.contato input {
    font-size: 18px;
}

.contato textarea {
    font-size: 18px;

}

.contato button {
    font-size: 18px;
}
}

@media (min-width: 1250px) {
    .img-text h1 {
        font-size: 25px;
    }

    .title-text {
    h2 {
        font-size: 35px;
    }

    p {
        font-size: 20px;
    }
}

.visao h3 {
    font-size: 25px;
}

.visao p {
    font-size: 20px;
}

/* vai pegar */
.sobrenos03 {
    padding: 50px 0 50px 50px;
    gap: 20px;
    flex-direction: row;
}

.titulo-texto {
    width: 80%;
    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }
}

.sobrenos04 h2 {
    font-size: 40px;
}

.contato-caixa {
    width: 50%;
}

.contato input {
    font-size: 20px;
}

.contato textarea {
    font-size: 20px;

}

.contato button {
    font-size: 20px;
}
}