@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* --- CORES PADRÃO --- */
:root {
    --Azulsuave: #6FA8DC;
    --VerdeClaro: #A8E6CF;
    --AmareloPastel: #FFF3B0;
    --LilasSuave: #CBAACB;
    --CinzaClaro: #F5F5F5;
    --Azulescuro: #2E4A62;
    --Preto: #000000;
    --Verdeescuro: #0AF79F;
    --Azul: #1976CB;
    --Branco: #ffffff;

}

body {
    background-color: var(--CinzaClaro);
    color: var(--Preto);
}






/* @media (min-width: 801px) and (max-width: 1250px) {} */

/*familia*/

banner-img2 img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 200px;
}

.titulo {
    padding: 20px;
    font-size: 15px;
    margin-top: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.banner-img2 img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.secao1 {
    background: linear-gradient(90deg, var(--VerdeClaro), var(--Azulsuave), var(--Branco));
    color: var(--Preto);
    cursor: pointer;
    padding: 10px;
    width: 50%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secao1:hover,
.secao1.active {
    background-color: var(--Azulsuave);
}

/* PAINEL ESCONDIDO */
.painel1 {
    padding: 0 18px;
    background-color: var(--CinzaClaro);
    display: none;
    overflow: hidden;
}

/* PAINEL VISÍVEL */
.painel1.active {
    display: block;
}

.secao1::after {
    content: '+';
    color: #777;
    font-weight: bold;
    font-size: 20px;
}

.secao1.active::after {
    content: '−';
}


.main {
    width: 100%;
   
}

/*@media (max-width: 480px) {
    .banner-img2 img {
        height: 250px;
    }
}

@media (max-width: 768px) {
    .banner-img2 img {
        height: 400px;
    }
}*/