@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* --- CORES PADRÃO --- */
:root {
    --Azulsuave: #6FA8DC;
    --VerdeClaro: #A8E6CF;
    --AmareloPastel: #FFF3B0;
    --LilasSuave: #CBAACB;
    --CinzaClaro: #F5F5F5;
    --Azulescuro: #2E4A62;
    --Preto: #000000;
    --Verdeescuro: #0AF79F;
    --Azul: #1976CB;
    --Branco: #ffffff;

}

body {
    background-color: var(--CinzaClaro);
    color: var(--Preto);
}


main {
    width: 100%;
    display: flex;
    justify-content: center;
   
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* navegação das páginas */
nav p {
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 20px;
}


/* @media (min-width: 801px) and (max-width: 1250px) {} */

/*familia*/
.banner-img2{ 
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

    /*width: 100%;
    display: flex;
    justify-content: center;
}*/

/*.banner-img2 img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 10px;
}*/

.banner-img2 img {
    width: 100%;
max-width: 1200px;   /* controla o “miolo” do site */
    height: auto;
    margin: 20px auto;
    object-fit: cover;
    border-radius: 12px; /* opcional */
}

.titulo {
    width: 100%;
    max-width: 1100px;
    padding: 20px;
    font: size 10px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px auto;
}

/*.titulo {
    padding: 20px;
    font-size: 15px;
    margin-top: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}*/


.secao1 {
    background: linear-gradient(90deg, var(--VerdeClaro), var(--Azulsuave), var(--Branco));
    color: var(--Preto);
    cursor: pointer;
    padding: 10px;
    /*width: 50%;*/
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secao1:hover,
.secao1.active {
    background-color: var(--Azulsuave);
}

/* PAINEL ESCONDIDO */
.painel1 {
    padding: 0 18px;
    background-color: var(--CinzaClaro);
    display: none;
    overflow: hidden;
}

/* PAINEL VISÍVEL */
.painel1.active {
    display: block;
}

.secao1::after {
    content: '+';
    color: #777;
    font-weight: bold;
    font-size: 20px;
}

.secao1.active::after {
    content: '−';
}




@media (max-width: 768px) {

    .titulo {
        padding: 15px;
        font-size: 0.95rem;
    }

    .secao1 {
        font-size: 15px;
        padding: 12px;
    }

    nav p {
        font-size: 12px;
        padding: 0 15px;
    }

    .banner-img2 img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 30px;
        max-width: 600px;   /* controla o “miolo” do site */
    }
}

@media (min-width: 1200px) {

    .titulo {
        max-width: 1200px;
        font-size: 16px;
    }

    .secao1 {
        padding: 15px 20px;
        font-size: 1rem;
    }

    .painel1 {
        font-size: 15px;
        line-height: 1.6;
    }

    .banner-img2 img {
        /*max-height: 450px;*/
        height: auto;
        object-fit: cover;
        max-width: 900px;   /* controla o “miolo” do site */
    }
}

