.navbar-custom {
    background: linear-gradient(to right, #A8E6CF, #6FA8DC, #A8E6CF, #6FA8DC);
    max-height: 70px ;
}

.navbar-nav .nav-link {
    color: #000 !important;
    font-weight: 500;
    margin: 0 10px;
    font-size: medium;
}

.navbar-nav .nav-link:hover {
    color: #0056b3 !important;
}

#login_color{
    background: linear-gradient(to right,#fcfffe);

}

.cu{
    margin: 10px;
    font-size:larger;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}

.btn {
    background: #6FA8DC;

}