@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
    max-width: 1024px;
}

/* TOPO ASSISTÊNCIA */
.topo-assistencia {
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(90deg,
            rgb(168, 230, 207),
            rgb(111, 168, 220),
            rgb(168, 230, 207),
            rgb(111, 168, 220));

    gap: 20px;
    padding: 5px;
    font-size: 8px;
    color:grey;
}

/* MENU TOPO */
.menu-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
   
}

/* RESPONSIVO */
@media only screen and (max-width: 320px) {
    .menu-topo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.logo {
    padding: 20px;
}

/* INPUT */
input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(224, 217, 217);
}

/* ACESSO LOJA */
.acesso-a-loja {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/* CONTAINER PRINCIPAL */
.container-principal {
    display: flex;
    gap: 20px;
    margin: 20px;
}

/* MENU LATERAL */
.menu-lateralEsq-categorias {
    flex-basis: 250px;
}

/* CARDS PRODUTOS */
.Cards-produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* CARD */
.card1 {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card1 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* PREÇOS */
.preco-antigo {
    text-decoration: line-through;
    color: #888;
    font-size: 0.8em;
}

.preco-atual {
    color: blue;
    font-weight: bold;
    font-size: 1.2em;
}

.etiqueta-desconto {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #0f097a;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8em;
}