/* Reset simples */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.6;
background-color: #f5f5f5;
color: #333;
}

/* Cabeçalho */
header {
background-color: #6FA8DC;
color: #fff;
padding: 15px 20px;
position: sticky;
top: 0;
}

header h1 {
margin-bottom: 10px;
text-align: center;
}

nav ul {
list-style: none;
display: flex;
flex-direction: row;
justify-items: center;
gap: 15px;
}

nav a {
text-decoration: none;
color: #fff;
font-weight: bold;
transition: color 0.3s;

}

nav a:hover {
color: #ffcc00;
}

/* Conteúdo principal */
main {
max-width: 1000px;
margin: 20px auto;
padding: 0 20px;
}

section {
background: #95cff1;
margin-bottom: 20px;
padding: 20px;
border-radius: 8px;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

section h2 {
margin-bottom: 10px;
color: #ffffff;
}

/* Rodapé */
footer {
text-align: center;
background-color: #333;
color: #fff;
padding: 15px 10px;
margin-top: 20px;
}