@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* remove marcadores */
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;  /* Movimento do scroll - dixa mais suave*/
}

/* --- CORES PADRÃO --- */
:root {
    --Azulsuave: #6FA8DC;
    --VerdeClaro: #A8E6CF;
    --AmareloPastel: #FFF3B0;
    --LilasSuave: #CBAACB;
    --CinzaClaro: #F5F5F5;
    --Azulescuro: #2E4A62;
    --Preto: rgb(0, 0, 0);
    --Verdeescuro: #0AF79F;
    --Azul: #1976CB;

}

body {
    background-color: var(--CinzaClaro);
    color: var(--Preto);
}


/* --- ESTILIZANDO O HEADER --- */
.header {
    background: linear-gradient(90deg, var(--CinzaClaro), var(--VerdeClaro), var(--Azulsuave));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 25px;

}

/* --- ESTILIZANDO A IMG DA LOGO + TEXTO-ARCO --- */

.logo {

    display: flex;
    flex-direction: column;   /* um embaixo do outro */
    align-items: center;      /* centraliza horizontalmente */
    text-align: center;
    width: 100%;
    max-width: 280px;         /* controla o tamanho máximo */
}

/* Imagem da logo */
.img-logo {
    width: 100%;
    max-width: 160px;         /* tamanho máximo no desktop */
    height: auto;
    display: block;
    border-radius: 10px;
}


/* texto + arco, abaixo da logo */
.arco-svg {
    width: 100%;
    height: 160px;
    display: block;
    margin: -110px auto 0 auto; /* aproxima o texto da imagem */
}

.texto-arco {
    font-size: 25px;
    font-weight: bold;
    color: var(--Preto);
    white-space: nowrap; /* segurança extra */
}


/* --- BARRA DE NAVEGAÇÃO --- */
.navegacao {
    max-width: 650px;         /* controla o tamanho máximo */ 
}

.nav-link {
    display: flex;
    gap: 10px;   /* espaço entre os links */
}

.link {
    font-size: 20px;
    color: var(--Preto);
    padding: 10px;
    white-space: nowrap;    /* Não deixa o texto quebrar */
}

/* quando passar o mouse */
.link:hover {
    color: var(--Azulsuave);
    text-decoration: underline;   /* sublinha os links */
}

/* quando clicar */
.link:active,
.link:focus {
    color: var(--Preto);
}



/* --- BARRA DE BUSCA --- */

.barra-de-busca {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;
    background-color: var(--CinzaClaro);
    border-radius: 5px;
    max-width: 280px;         /* controla o tamanho máximo */
}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
}


.pesquisar {
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    background-color: var(--CinzaClaro);

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* --- MENU RESPONSIVEL --- */

@media (max-width: 1250px) {
    .link {
    font-size: 15px;
}

.barra-de-busca {
     max-width: 200px;
     gap: 5px;
}

.pesquisar {
    font-size: 15px;
}

.icone {
    min-width: 15px;
    min-height: 15px;
}

.logo {
    max-width: 200px;         /* controla o tamanho máximo */
}

.img-logo {  
    max-width: 120px;         /* tamanho máximo no desktop */
}

.texto-arco {
    font-size: 18px;
}

.arco-svg {
    width: 200px;
    height: 150px;
    display: block;
    margin: -100px auto 0 auto; /* aproxima o texto da imagem */

}

path {
    d: path("M 18 80 Q 100 200 200 70");   /* controla o arco */
    fill: transparent;
}
}



@media (max-width: 999px) {
    .header {
        flex-direction: column;   /* itens em coluna */
        justify-content: center;
        gap: 20px;                /* espaço entre os itens */
        padding: 20px;
        text-align: center;       /* ajuda em textos */
     }

     .nav-link {
    gap: 10px;   /* espaço entre os links */
    }

    .img-logo {
        
        background-color: color-mix(in srgb, var(--VerdeClaro) 80%, var(--CinzaClaro));
    }
}




.menu-btn {
    width: 40px;
    height: 40px;
    padding: 8px;
    background: none;
    border: none;
    display: none;   /* oculta o icone do menu */
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background-color: var(--AmareloPastel);
}

.menu-btn .icon-bnt {
    width: 100%;
    height: 100%;
    max-width: 24px;
    max-height: 24px;
}

/* --- RODAPÉ --- */

.footer {}

.conteiner-footer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 1.5rem 10rem 1.5rem 10rem;
    background: linear-gradient(
    180deg,
    color-mix(in srgb, var(--VerdeClaro) 25%, var(--CinzaClaro)),
    color-mix(in srgb, var(--Azulsuave) 25%, var(--CinzaClaro))
);

}

.img-footerlogo {
    width: 133px;
}

.item-footer1 {
    display: flex;
    flex-direction: column; /* imagem em cima, texto embaixo */
    align-items: center;
    text-align: center;
    gap: 10px; /* espaço entre imagem e texto */
    max-width: 300px; /* controla a quebra do texto */
}

.item-footer p {
    font-size: 13px;
}

/* MAPA DO SITE */

.mapa-site {
     display: flex;
    flex-direction: column; /* lista vertical */
    gap: 7px; /* espaço entre os li */
}

/* PRECISA DE SUPORTE */

.item-footer3 {
    display: flex;
    flex-direction: column;
    gap: 10PX;
}

.img-footer3 {
    width: 20PX;
    height: 20PX;
    margin-right: 10px;
}

.item-footer3 a span {
    color: var(--Preto);
}


/* SIGA-NOS */

.item-footer4 {
    display: flex;
    flex-direction: column;
    gap: 35px; /* controla o espaço entre os itens */
}

.social-link {
    display: flex;
    flex-direction: column; /* imagem em cima, texto embaixo */
    align-items: center;    /* centraliza */
    gap: 6px;               /* espaço entre imagem e texto */
    text-decoration: none;
    font-weight: bold;   /* negrito */
    font-size: 16px;     /* aumenta a fonte */
    color: var(--Preto);

}

.img-instagram{
    width: 24px;
    height: 24px;
}

.img-footer {}

.Copyright{
    text-align: center;
    padding: 1.5rem 10rem 1.5rem 10rem;
}


/* VOLTAR AO TOPO */

.item-footer5 {
    margin-top: 120px;
}

.voltar-topo {
    color: var(--Preto);   
    text-decoration: underline; /* sublinhado */
}


/* sessao1 */

.sessao1 {
    display: grid;
    align-items: center;
}





.banner-img img {
    width: 100%;
    padding: 0%;
}

.card_familia {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 50px;


}

.card_familia img{
    width: 380px;
    height: 300px;
}

.card_familia h2{
font-size: 32px;

}

.card_familia p{
font-size: 15px;
width: 30%;
}

.brincar-juntos {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}

.brincar-juntos h2 {
  font-size: 26px;
  color: #222;
  margin-bottom: 20px;
}

.brincar-juntos p {
flex: 1;

}