/* FONTE EXPORTADA DO GOOGLE FONTES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* remove marcadores */
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    /* Movimento do scroll - dixa mais suave quando passa o mouse*/
}

/* --- CORES PADRÃO --- */
:root {
    --Azulsuave: #6FA8DC;
    --VerdeClaro: #A8E6CF;
    --AmareloPastel: #FFF3B0;
    --LilasSuave: #CBAACB;
    --CinzaClaro: #F5F5F5;
    --Azulescuro: #2E4A62;
    --Preto: rgb(0, 0, 0);
    --Verdeescuro: #0AF79F;
    --Azul: #1976CB;

}

body {
    background-color: var(--CinzaClaro);
    color: var(--Preto);
}

/* --- ESTILIZANDO O HEADER --- */
.header {
    /* display: flex; */
    background: linear-gradient(90deg, var(--CinzaClaro), var(--VerdeClaro), var(--Azulsuave));

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 10rem 0.1rem 10rem;
    gap: 30px;
}

/* --- ESTILIZANDO A IMG DA LOGO + TEXTO-ARCO --- */
.logo {
    display: flex;
    align-items: center;
}

.logo-texto {
    display: flex;
    flex-direction: column;
    /* agora os itens ficam em coluna */
    align-items: center;
    /* centraliza horizontalmente */
    cursor: pointer;
    border-radius: 10px;
    margin: 0;
    padding: 5px 10px;
}

/* Imagem da logo */
.img {
    max-height: 120px;
    width: auto;
    display: block;
}


/* texto + arco, abaixo da logo */
.texto-arco {
    width: auto;
    font-size: 25px;
    /* ajustar conforme necessidade */
    font-weight: bold;
    text-align: center;
    /* centraliza o texto */
    color: var(--Preto);
}


.arco-svg {
    width: auto;
    height: 160px;
    display: block;
    margin: -110px auto 0 auto;
    /* aproxima o texto da imagem */
}



/* --- BARRA DE NAVEGAÇÃO --- */
.barra-de-navegacao {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    font-size: 13px;
}

.navegacao {
    display: flex;
    /* organiza links em linha */
    gap: 20px;
    /* espaço entre links */
    white-space: nowrap;
    /* Não deixa o texto quebrar */
    justify-content: center;

}

.item {
    font-weight: 600px;
    font-size: 20px;
    color: var(--Preto);
    padding: 10px;
}

/* quando passar o mouse */
.item:hover {
    color: var(--Azulsuave);
    text-decoration: underline;
    /* sublinha os links */
}

/* quando clicar */
.item:active,
.item:focus {
    color: var(--Preto);
}



/* --- BARRA DE BUSCA --- */

.barra-de-busca {
    display: flex;
    align-items: center;

}

.busca {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 16px 10px 10px;
    background-color: var(--CinzaClaro);
    border-radius: 5px;

}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
}


.pesquisar {
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    background-color: var(--CinzaClaro);

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* -- SEÇÃO DO CARROSSEL -- */

                      

/* -- SEÇÃO DA CHAMADA PARA A LOJA -- */

.section-loja {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 60px 32px;
    background: linear-gradient(180deg, var(--VerdeClaro), var(--Azulsuave));/* 180deg de cima → baixo*/
}

.conteudo-loja {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

.btn-loja {
    padding: 18px 44px;
    color: var(--Preto);
    background: linear-gradient(0deg, var(--VerdeClaro), var(--Azulsuave));/* 0deg de baixo para cima */
    font-size: 30px;
    font-weight: 600;
    border-radius: 30px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    
}

/* -- ARTIGOS -- */


.articles-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}


.article-title {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.conteiner-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 itens por linha */
    grid-template-rows: repeat(2, auto);
    /* 2 linhas */
    justify-content: center;
    gap: 100px 50px;
    /* linha / coluna */
}

.article-card {
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    max-width: 250px;
    height: 460px;
    margin: 0 auto;

}


/* Cards ímpares → VERDE */
.article-card:nth-child(odd) {
    background-color: color-mix(in srgb, var(--VerdeClaro) 50%, var(--CinzaClaro));
    border: 3px solid var(--VerdeClaro);

    .sub-titulo {
        border: 3px solid var(--Verdeescuro);
        border-radius: 50px;
        background-color: var(--VerdeClaro);
    }
}

.sub-titulo {
    text-align: center;
    font-size: 18px;
    margin-top: -50px;
    white-space: nowrap;
    justify-content: center;

    padding: 10px 0;
    /* aumenta a altura */
    line-height: 1.5;
    /* mais espaço vertical */
}

/* Cards pares → AZUL */
.article-card:nth-child(even) {
    background-color: color-mix(in srgb, var(--Azulsuave) 50%, var(--CinzaClaro));
    border: 3px solid var(--Azulsuave);

    .sub-titulo {
        border: 3px solid var(--Azul);
        border-radius: 50px;
        background-color: var(--Azulsuave);
    }
}

.article-img {
    width: 100%;
    margin-top: 15px;
}

.card-pargrafo {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}



/* BOTÃO ENTRE EM CONTATO*/

.bnt-contato {
    background-color: var(--VerdeClaro);
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    width: 348px;
    height: 70px;
    margin: 150px;
    cursor: pointer;
}

.entre-contato {
    background-color: var(--VerdeClaro);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}


/* --- RODAPÉ --- */

.footer {}

.conteiner-footer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 1.5rem 10rem 1.5rem 10rem;
    background: linear-gradient(
    180deg,
    color-mix(in srgb, var(--VerdeClaro) 25%, var(--CinzaClaro)),
    color-mix(in srgb, var(--Azulsuave) 25%, var(--CinzaClaro))
);

}

.img-footerlogo {
    width: 133px;
}

.item-footer1 {
    display: flex;
    flex-direction: column; /* imagem em cima, texto embaixo */
    align-items: center;
    text-align: center;
    gap: 10px; /* espaço entre imagem e texto */
    max-width: 300px; /* controla a quebra do texto */
}

.item-footer p {
    font-size: 13px;
}

/* MAPA DO SITE */

.mapa-site {
     display: flex;
    flex-direction: column; /* lista vertical */
    gap: 7px; /* espaço entre os li */
}

/* PRECISA DE SUPORTE */

.item-footer3 {
    display: flex;
    flex-direction: column;
    gap: 10PX;
}

.img-footer3 {
    width: 20PX;
    height: 20PX;
    margin-right: 10px;
}

.item-footer3 a span {
    color: var(--Preto);
}


/* SIGA-NOS */

.item-footer4 {
    display: flex;
    flex-direction: column;
    gap: 35px; /* controla o espaço entre os itens */
}

.social-link {
    display: flex;
    flex-direction: column; /* imagem em cima, texto embaixo */
    align-items: center;    /* centraliza */
    gap: 6px;               /* espaço entre imagem e texto */
    text-decoration: none;
    font-weight: bold;   /* negrito */
    font-size: 16px;     /* aumenta a fonte */
    color: var(--Preto);

}

.img-instagram{
    width: 24px;
    height: 24px;
}

.img-footer {}

.Copyright{
    text-align: center;
    padding: 1.5rem 10rem 1.5rem 10rem;
}


/* VOLTAR AO TOPO */

.item-footer5 {
    margin-top: 120px;
}

.voltar-topo {
    color: var(--Preto);   
    text-decoration: underline; /* sublinhado */
}
